.layout {
  width: 60%;
  margin: 1.5rem auto 0;
  /* border: 5px dotted red; */
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  .headings {
    font-size: 1.7rem;
  }

  .subName {
    display: flex;
    width: 80%;
    margin-left: 0.7rem;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1.2rem;
  }

  .inputBox {
    display: flex;
    padding: 0.2rem 1.3rem;
    width: 75%;
    margin: 3vh auto;
    font-size: 0.9rem;
    text-align: center;
  }

  .btnBox {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto 0;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .headings {
    font-size: 2.3vw;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
  }

  .subName {
    display: flex;
    width: 56%;
    margin: 3rem auto 0;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1.3rem;
  }

  .inputBox {
    display: flex;
    padding: 0.2rem 1.2rem;
    width: 50%;
    margin: 0.5rem auto;
    font-size: 1.1rem;
    text-align: auto;
  }
}

div {
  /* border: 1px dashed blue; */
}
