@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

.header {
  font-family: 'Do Hyeon', sans-serif;
  margin: 0 auto;
  width: 100%;
}

.navigation {
  width: 100%;
  padding: 8px 0;
  text-align: center;
}

.nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 4px -4px black;
  z-index: 99;
}

.a{
  background-color:orange;
  height: 2px;
}